* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
:root {
  --bg-color: #1d1e23;
  --main-color: #a6bbcc;
  --text-color: #fff;
  --h1-font: 5.6rem;
  --h2-font: 3.7rem;
  --p-font: 1rem;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  padding: 38px 19%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  transition: all 0.7s;
}
.logo {
  display: flex;
  align-items: center;
  color: var(--text-color);
  font-size: 28px;
  font-weight: 600;
}
.navbar {
  display: flex;
}
.navbar a {
  margin: 0 25px;
  padding: 4px;
  color: var(--text-color);
  font-size: var(--p-font);
  font-weight: 400;
  border-bottom: 2px solid transparent;
}
.navbar a:hover {
  border-bottom: 2px solid var(--main-color);
  color: var(--main-color);
}
#menu-icon {
  font-size: 34px;
  cursor: pointer;
  z-index: 10001;
  display: none;
}
